
files/thesis.toc
files/thesis.synctex.gz
files/thesis.run.xml
files/thesis.lot
files/thesis.lol
files/thesis.log
files/thesis.lof
files/thesis.ist
files/thesis.gls
files/thesis.glo
files/thesis.glg
files/thesis.fls
files/thesis.fdb_latexmk
files/thesis.blg
files/thesis.bcf
files/thesis.bbl
files/thesis.aux
files/thesis.alg
files/thesis.acr
files/thesis.acn
.DS_Store
.vscode/settings.json
files/pdfa.xmpi
